@page "/"

<PageTitle>Wosefi</PageTitle>

<section class="hero">
    <h2>Discover and Showcase Promotional Works</h2>
    <p>Connect with top promoters and agencies. Explore their latest works and availability.</p>
    <a href="#product-showcase" class="cta-button">Get Started</a>
</section>


<section id="promoter-section" class="promoter-section">
    <div class="promoter-content">
        <div class="promoter-info">
            <h2>Elevate Your Events with Confidence</h2>
            <p>Join our platform to discover exceptional agencies and works, tailored just for you. We provide a supportive environment for promoters, ensuring your journey is seamless from start to finish.</p>
            <p>Key Features:</p>
            <ul>
                <li><strong>Explore Trustful Agencies:</strong> Discover reputable agencies known for their outstanding collaborations and successful campaigns.</li>
                <li><strong>Showcase Your Works:</strong> Showcase your unique events and campaigns to a wider audience, highlighting your expertise and creativity.</li>
                <li><strong>Express Your Availability:</strong> Let agencies know when you're available for new opportunities. Manage your schedule effortlessly.</li>
                <li><strong>Search in Different Locations:</strong> Find exciting works in various locations, expanding your reach and networking capabilities.</li>
                <li><strong>Ongoing Support:</strong> Enjoy continuous support throughout your journey. Our team is here to assist you at every step.</li>
            </ul>
            <a href="#signup" class="cta-button">Get Started</a>
        </div>
        <div class="promoter-images">
            <img src="https://cdn.discordapp.com/attachments/1090281028389711942/1199691942347427840/AguaQlub00002.jpg?ex=65c37730&is=65b10230&hm=92cbb3d9678e18fbb7efc721faecb3bfae22c608fdc02798be434d3c6d27b228&" alt="Event Image 1">
            <!-- Add more images as needed -->
        </div>
    </div>
</section>
