.nav-menu{
    width:100%;
    display:flex;
    align-items:center;
    height:3rem;
    gap:3rem;
    background:green;
}

.logo {
    font-size: 2rem;
    font-family: 'Vidaloka', serif;
}

.login-button {
    position:absolute;
    right:1rem;
    height: 2rem;
    width:3rem;
    color:white;
    border-radius:5px;
    cursor:pointer;
}