
<div class="nav">
    <div class="nav-menu">
        <h5 class="logo">Wosefi</h5>
        <a>Sobre</a>
        <a>Promotoras</a>
        <a>Agencias</a>

        <button name="log-in-outline" class="login-button">Login</button>
    </div>
</div>


@code {

}
